.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading { 
    margin-bottom: 40px;
    text-align: center;
}

.contact-form__title{
    color: #8b7969;
    font-family: Georgia, serif;
    font-weight: lighter;
    font-size: 40px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__label--item{
    color: #8b7969;
    font-size: 20px;
}

.form__label--required {
    margin-left: 5px;
    /* padding: 4px 6px; */
    /* border-radius: 3px; */
    /* background: #fafafa; */
    color: #ff9494;
    font-size: 20px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text,
.form__input--textarea{
    /* padding: 10px; */
    /* width: 600px; */
    /* border: 1px solid #f4f4f4; */
    /* border-radius: 3px; */
    /* background: #f4f4f4; */
    /* color:#c5b9b0; */
    display:flex;
    /* justify-content:space-between; */

    appearance: none;
}

.form__input--first_name{
    padding: 10px 20px;
    width: 250px;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    background: #f4f4f4;
    color: #8b7969;
    font-size: 16px;
}

.form__input--last_name{
    padding: 10px 20px;
    width: 250px;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    background: #f4f4f4;
    color: #8b7969;
    margin-left:40px;
    font-size: 16px;
}

.form__input--radio{
    width: 700px;
    color: #8b7969;
    font-size:20px;

    appearance: none;
}

.form__input--radio-female,
.form__input--radio-other{
    margin-left:40px;
}

.form__input--email {
    padding: 10px 20px;
    width: 540px;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    background: #f4f4f4;
    color: #8b7969;
    font-size: 16px;
}

.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}